<div class="card card-block">
  <h4 class="card-title">Add Person</h4>
  <div class="form-group text-center">
    <input type="text" class="from-control" placeholder="Enter the name" #name>
  </div>
  <div class="form-group text-center">
    <input type="text" class="from-control" placeholder="Enter the age" #age>
  </div>
  <div class="form-group text-center">
    <input type="text" class="from-control" placeholder="Enter the address" #address>
  </div>
  <button class="btn btn-primary" (click)="addPerson(name.value,age.value,address.value)">Add Person</button>
</div>
<br>